.create-post-field {
  width: 115px;
  height: 50px;
  background-color: #528a4e;
  position: relative;
  cursor: pointer;
  float: right;
  border-radius: 10px;
  margin: 0 50px 0 0;
  padding: 0 50px 0 0;
  box-shadow: 0px 5px 5px grey;
  overflow: hidden;
}

.create-post-nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50px;
  line-height: 2;
  opacity: 0;
  color: #fff;
  padding: 10px;
  transition: top 0.7s;
}

.create-post-icon {
  position: relative;
  cursor: pointer;
  color: white;
  top: 0;
  bottom: -30px;
  transition: bottom 0.5s;
}
.create-post-field:hover .create-post-nav {
  opacity: 1;
} 

.create-post-field:hover {
  background-color: #7fbf7b;
}

.create-post-icon-nav {
  position: absolute;
  text-align: center;
  line-height: 3;
  width: 100%;
}

.create-post-field:hover .create-post-icon { 
  top: -50px; 
  transition: top 0.7s;
}

.create-post-field:hover .create-post-nav { 
  top: 0px 
}

