.hero-history-card {
  display: flex;
  position: relative;
  align-items: center;
  padding: 3em;
}

.hero-history-card__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  width: 50%;
}

.hero-history-card__img {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.hero-history-card__title {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.hero-history-card__address{
  margin: 5px 0;
}

.hero-history-card__food-type{
  display: flex;
  margin-right: 10px;
}

.hero-history-card__info-line {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.hero-history-card__info-line i {
  margin-top: 10px;
  margin-right: 10px;
}

.hero-history-card .action-buttons {
  display: flex;
}

.hero-history-card .action-buttons div {
  cursor: pointer;
}

.btn {
  color: white;
  border: none;
  text-align: center;
  box-shadow: 0px 5px 5px grey;
  margin: 50px 40px 0 30px;
  width: 190px;
  height: 40px;
  padding: 10px;
  border-radius: 13px;
}

.btn-green {
  background-color: #528a4e;
}

.btn-green:hover {
  background-color: #7fbf7b;
}

.btn-black {
  background-color: #1b1b1b;
}

.btn-black:hover {
  background-color: #444444;
}

.card-btm-line {
  border: 1px solid rgb(179, 179, 179);
  justify-content: center;
  width: 90%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.btn {
  color: white;
  border: none;
  text-align: center;
  box-shadow: 0px 5px 5px grey;
  margin: 50px 40px 0 30px;
  width: 190px;
  height: 40px;
  padding: 10px;
  border-radius: 13px;
}

.btn-green {
  background-color: #528a4e;
}

.btn-green:hover {
  background-color: #7fbf7b;
}

.btn-black {
  background-color: #1b1b1b;
}

.btn-black:hover {
  background-color: #444444;
}

.card-btm-line {
  border: 1px solid rgb(179, 179, 179);
  justify-content: center;
  width: 90%;
  position: absolute;
  bottom: 0;
}

.btn {
  color: white;
  border: none;
  text-align: center;
  box-shadow: 0px 5px 5px grey;
  margin: 50px 40px 0 30px;
  width: 190px;
  height: 40px;
  padding: 10px;
  border-radius: 13px;
}

.btn-green {
  background-color: #528a4e;
}

.btn-green:hover {
  background-color: #7fbf7b;
}

.btn-black {
  background-color: #1b1b1b;
}

.btn-black:hover {
  background-color: #444444;
}
/* make the hr be on the bottom of the card */
hr {
  border: 1px solid rgb(179, 179, 179);
  justify-content: center;
  width: 90%;
  position: absolute;
  bottom: 0;
}