.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-bottom: 160px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  width: 100%;
  margin-bottom: 20px;
}

.filter {
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(182, 181, 181);
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 130px;
  background-image: none;
}

.filter-btn {
  color: #fff;
  background-color: #528a4e;
  border: none;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(182, 181, 181);
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 13px;
}

.filter-btn:hover {
  background-color: #7fbf7b;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  margin-right: 20px;
}

.filter-container h3 {
  margin-right: 20px;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 4rem;
  height: auto;
  padding: 20px;
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-info h1, 
.home-info h2 {
  color: #4b5563;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #e5e7eb;
  margin: 20px 0;
}

@media only screen and (min-width: 576px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
}